html {
  min-height: 100%; }

body {
  position: relative;
  color: white;
  font: 100% 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 60em;
  background-image: linear-gradient(#2afac6, #4ff7f2);
  background-repeat: no-repeat; }


h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900; }

p {
  font-weight: 300; }

b {
  font-weight: 600; }

u {
  text-decoration: none;
  border-bottom: 2px solid; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li:before {
  content: " \2014";
  padding-right: 0.75em; }

/*debug*/

body:after {
	position: absolute;
	width: auto;
	height: 100vh;
	z-index: 9999;
	content: '';
	display: block;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background-image: linear-gradient(transparent 23px,rgba(255,255,255,0.4) 1px);
  background-size: 100% 24px;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, li:hover {
  background: rgba(255, 255, 255, 0.33); }
